<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
  </head>
  <body>
    <h3>Bienvenido a la aplicación de <%= creditos %></h3>
      <br>
   <p> <img src="/images/foto.jpg" alt="mi foto" >
      <video src="/videos/video.mp4" type='video/mp4' height="135" controls></video> </p>

  </body>
</html>