<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <form method="get" action="/quizes">
     <input type="text" name="search" placeholder="Buscador de preguntas"/>
     <input type="submit" value="Enviar">
    </form>
	<table>
  		<% var i; for (i=0; i < quizes.length; i++) { %>        
     		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr><% }
      %>
 	</table>
  </body>
</html>