<p><h3>Estadísticas</h3></p>
<p>
<table>
<% var i; for (i=0; i < statistics.length; i++) { %>
     <tr><td>
     	<%=statistics[i].texto%> 
     </td><td>
     	<%=statistics[i].count%>
     </td></tr>
<% } %>
</table>